/* VARIABLES */

:root {
    --text: #111111;
    --background: #c8e4ff;
    --primary: #060026;
    --secondary: #1b3fa0;
    --accent: #3b82f6;
    --white: #ffffff;
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Para todo el texto general, descripciones, precios y botones */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; /* Un grosor ligero para que se vea fino y elegante */
    background-color: var(--background);
    color: var(--text);
    line-height: 1.6;
}

/* Para los títulos grandes y nombres de los perfumes (L'ESSENCE UNIQUE, CATÁLOGO, etc.) */
h1, h2, h3, .logo, .nav-links a {
    font-family: 'Cinzel', serif;
    font-weight: 600;
    text-transform: uppercase; /* El diseño usa casi todo en mayúsculas */
    letter-spacing: 1px;       /* Un pequeño espacio entre letras para mayor elegancia */
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 60px;

    background:#dce8f3;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width: 200px;
    height: auto;
}

nav{

    display:flex;
    gap:50px;

    margin-left:auto;
    margin-right:auto;
}


nav a{
    text-decoration:none;
    color:#111;

    font-weight:600;

    display:flex;
    align-items:center;
    gap:8px;

    transition:.3s;
}

nav a:hover{

    color:#173a6b;

    transform:translateY(-2px);
}


/* LUPA */

.acciones{

    display:flex;
    gap:15px;
}

.btn-busqueda{

    width:42px;
    height:42px;

    border:none;
    border-radius:50%;

    background:white;

    cursor:pointer;

    transition:.3s;
}


.btn-busqueda:hover{

    background:#173a6b;
    color:white;

    transform:scale(1.1);
}

/* HERO */

.hero{
    position: relative;
    min-height: 700px;
    overflow: hidden;

    display: flex;
    align-items: center;
}

.imagen-fondo{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 1;
}


.hero-text{
    position: relative;
    z-index: 3;

    padding: 130px;
}

.hero-text h1 {
    line-height: 1;
    font-size: 4rem;
    color: var(--primary);
    margin-bottom: 20px;
}

.hero-text p {
    line-height: 1.4;
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.hero-text button {
    background: var(--primary);
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.hero-text button:hover {
    background: var(--secondary);
}

.hero-image img {
    width: 500px;
    height: auto;
}

/* DESTACADOS */

.destacados {
    padding: 80px 10%;
    text-align: center;
}

.destacados h2 {
    color: var(--primary);
    margin-bottom: 30px;
    font-size: 2rem;
}

.destacados ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
    flex-wrap: wrap;
}

.destacados li {
    background: white;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

/* BENEFICIOS */

.beneficios{
    position: relative;
    padding: 80px 10%;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}


.beneficios h1,
.card{
    position: relative;
    z-index: 2;
}

.fondo-beneficios{
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    filter: blur(1px);


    object-fit: cover;

    z-index: 1;
}
.beneficios h1 {
    text-shadow:
        0 0 5px rgba(0,0,0,0.8),
        0 0 10px rgba(0,0,0,0.8),
        0 0 20px rgba(0,0,0,0.8);
    font-size: 4rem;
    grid-column: 1 / -1;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

.card h3 {
    color: #ffffff;
    margin-bottom: 10px;
}

.card {
    background: #00000069;
    padding: 30px;
    border-radius: 15px;
    text-align: center;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.199);

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.icono {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.icono img {
    width: 200px;
}

.card p {
    color: #dee8ff;
}

/* IMAGEN INFERIOR */

.beneficios div:last-child img {
    width: 100%;
    border-radius: 20px;
}

/* FOOTER */

footer{
    background: #0f2747;
    color: white;
    margin-top: 80px;
}

.footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 50px 60px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 120px;

}

.footer-logo{
    flex: 1;
    min-width: 250px;
}

.footer-logo h2{
    font-family: 'Playfair Display', serif;
    margin-bottom: 15px;
    font-size: 28px;
}

.footer-logo p{
    color: #d8e3ee;
    line-height: 1.6;
}

.footer-contact{
    flex: 1;
    min-width: 200px;
}

.footer-contact h3,
.footer-links h3{
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-contact address{
    font-style: normal;
    line-height: 1.8;
    color: #d8e3ee;
}

.footer-links{
    flex: 1;
    min-width: 200px;

    display: flex;
    flex-direction: column;
}

.footer-links a{
    color: #d8e3ee;
    text-decoration: none;
    margin-bottom: 10px;
    transition: 0.3s;
}

.footer-links a:hover{
    color: white;
    transform: translateX(5px);
}

.footer-bottom{
    border-top: 1px solid rgba(255,255,255,.15);

    text-align: center;
    padding: 20px;
}

.footer-bottom p{
    font-size: 14px;
    color: #c9d5df;
}

.footer-brand{
    width: 180px;
    height: auto;
}


.footer-brand img{
    width: 250px;
    height:auto;
    flex-shrink:0;
}

.footer-brand h2{
    margin-bottom:10px;
}

/* RESPONSIVE */

@media (max-width: 900px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .hero-image img {
        width: 350px;
        margin-top: 30px;
    }

    .beneficios {
        grid-template-columns: 1fr;
    }

    .main-nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .header-content {
        flex-direction: column;
        gap: 20px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}

